* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 90lvw;
    margin: 100px auto;
    box-shadow: 0 0 10px #262626;
    position: relative;
    

}

#slider{
    width: auto;
    position: relative;
    height: 90lvw;
    width: 80lvw;
}

.slideItem {
    opacity: 0;
    position: absolute;
    transition: all .3s;
}

.slideItem.active {
     opacity: 1;
     transition: all .3s;
}


.btn-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 40px;
    left: 20px;
    width: 70px;
    height: 70px;
    line-height: 70px !important;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 99;
}

.btn-left:hover {
    background: #1b1b1b73;
    transition: .2s;
}

.btn-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 40px;
    right: 20px;
    width: 70px;
    height: 70px;
    line-height: 70px !important;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 99;
}

.btn-right:hover {
    background: #1b1b1b73;
    transition: .2s;
}